{% extends 'base.html' %}
{% block body %}



<div class="container">
    <div class="row">
        {% for i in movielist %}
        <div class="col-md3">
            <div  class="mt-4 mr-4">
                <div class="card" style="width: 18rem;height: 27rem;">
                    <img src="{{i.imge.url}}" width="215" height="279.4"><br>
    <!--              <img class="card-img-top" src="..." alt="Card image cap">-->
                  <div class="card-body">

                        <h5 class="card-title">{{i.name}}</h5>
    <!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                    <a href="{% url 'movieapp:detailss' i.id %}" class="btn btn-primary">Details</a>
                  </div>
                </div>
            </div>


        </div>
        {% endfor %}

    </div>

</div>














{% endblock %}